.cabecera{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}
.main{
    padding-top: 2rem;
    text-align: center;
}
.boton{
    border: 2px solid #6735dc;
    margin-top: 1rem;
    border-radius: 5px;
}
.boton:hover{
    background-color: rgba(187, 187, 187, 0.329);
    box-shadow: 3px 3px 3px #50246377;
}
.opc{
    padding: 2rem 0;
}