.cabecera{
    align-items: center;
    text-align: center;
    color: black;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}

#equipo{
    color: #6735dc;
    font-weight: 600;
    border-color: #6735dc;
    background-color: #50246317;
    margin: 2rem;
}
#equipo:hover{
    background-color: #502463;
    border-color: #502463;
    color: white;
}
#equipo:hover a{
    color: white;
}
#equipo:active{
    background-color: #502463;
    border-color: #502463;
    color: white;
}
#equipo a{
    color: white;
    text-decoration: none;
}
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 32%) !important;
}

.main{
    width: 800px;
    max-width: 90%;
    margin: auto;
}

.equipos{
    text-align: center;
}
#tab1{
    margin: 2rem auto;
}

.asignaturas{
    width: 100%;
    background-color: rgba(52, 58, 64, 0.082);
    text-align: center;
}
.asignaturas article{
    padding: 30px;
}