.cabecera, .bg{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}

.main{
    margin-top: 3rem;
    text-align: center;
    padding: 1rem 10rem;
}
.modal-body{
    text-align: justify;
}
#preguntas, .contac{
    margin-top: 5rem;
}
#contactar{
    color: white;
    border-color: #6735dc;
    background-color: #6735dc;
}
#contactar:hover{
    color: #6735dc;
    background-color: #6735dc4f;
    border-color: #6735dc;
}


footer{
    color: rgb(100, 100, 100);
}
.notext-decoration, a .notext-decoration, .notext-decoration p a{
    text-decoration: none;
}
.text-muted {
    color: #3e4142!important;
}
.copyright{
    float: right;
    font-size: x-small;
}
.pie{
    font-size: x-small;
}

@media screen and (max-width: 991px){
    .main{
        padding: 0;
    }
}