.cabecera, .bg{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}
.main{
    text-align: center;
}
@media screen and (max-width: 991px){
    #calendario{
        width: 100%;
    }
}
@media screen and (max-width: 572px){
    .container{
        padding-left: 0;
        padding-right: 0;
    }
    #calendario{
        width: auto;
    }
}