.cabecera{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}

.usuario{
    background-color: #717573;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: .5rem 0;
    margin: auto;
}
.usr2{
    width: 60%;
    margin: auto;
    padding: .5rem 0;
    background-color: #f0e62a7e;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
#imgPerfil, #nombre{
    margin: .5rem;
}
#imgPerfil{
    width: 90px;
}
#nombre{
    font-weight: bold;
    font-size: large;
    color: white;
}
#add{
    vertical-align: middle;
    color: white;
}
#add:hover{
    color: rgb(221, 221, 221);
    transition: .3s ease-in-out;
}

.post{
    background-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-width: 10px;
    border-color: #f0e62a;
    margin-top: 2rem;
    padding: 1rem 1rem;
    width: 60%;
    border-bottom-left-radius: 20px;
}
.post p{
    margin-bottom: 0;
}
.btns{
    margin-top: .5rem;
    margin-left: 3rem;
}

@media screen and (max-width: 766px){
    .post{
        width: 100%;
    }
}

.scrollbar-dinamizathor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%);
    background-image: linear-gradient(120deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%); 
}