.cabecera{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
.main{
    padding-top: 1rem;
}
.boton:hover{
    background-color: rgba(187, 187, 187, 0.329);
    box-shadow: 3px 3px 3px #50246377;
}
.inst{
    font-weight: bolder;
}
.subtitulo{
    font-size: large;
    font-weight: bold;
}
.main{
    text-align: justify;
}
.desarrolladores{
    text-align: center;
}
.boton{
    border: 2px solid #6735dc;
    margin-top: 1rem;
    border-radius: 5px;
}
.scrollbar-dinamizathor::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%);
    background-image: linear-gradient(120deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%); 
}