.cabecera, .bg{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}

.main{
    padding: 1rem 10rem;
}

p{
    border-bottom: 1px solid #ccc;
    font-size: 14pt;
}

.lbl{
    font-size: 16pt;
    font-weight: bold;
}

/* FOOTER */
footer p{
    border-bottom: none;
}
footer{
    color: rgb(100, 100, 100);
}
.notext-decoration, a .notext-decoration, .notext-decoration p a{
    text-decoration: none;
}
.copyright{
    float: right;
    font-size: x-small;
}
.pie{
    font-size: x-small;
}