.cabecera{
    align-items: center;
    text-align: center;
    color: black;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}

#periodo{
    color: #6735dc;
    font-weight: 600;
    border-color: #6735dc;
}
#periodo:hover{
    background-color: #502463;
    border-color: #502463;
}
#periodo:hover a{
    color: white;
}
#periodo a{
    color: black;
    text-decoration: none;
}
.dropdown-menu-center {
    left: 50% !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 32%) !important;
}

.main{
    padding-top: 2rem;
    width: 800px;
    max-width: 90%;
    margin: 30px auto;
}

ul.nav-tabs li a{
    color: black;
    text-decoration: none;
}

.nav-link.active{
    background-color: rgba(52, 58, 64, 0.082)!important;
    color: black!important;
}
.color1{
    background-color: #6735dc;
}
.color2{
    background-color: #6E7270;
}
.color3{
    background-color: #65382A;
}
.color4{
    background-color: #782609;
}
.color1, .color2, .color3, .color4{
    color: white!important;
}

.asignaturas{
    width: 100%;
    background-color: rgba(52, 58, 64, 0.082);
    text-align: center;
}
.asignaturas article{
    padding: 30px;
}