.cabecera, .bg{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}
/* Estado Actual */
#estadoActual ol{
    margin-bottom: 0;
    font-size: smaller;
    background-color: transparent;
}
#estadoActual li{
    padding-left: 0.1rem;
}
.breadcrumb-item+.breadcrumb-item::before{
    padding-right: 0.1rem;
}

/* MAIN */
.bg{
    background-image: url("../imagenes/bgPerfil.png")   ;
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador*/ 
    min-height:100%;
    min-width:100%;
    /* Desactivo scroll */
    background-attachment: fixed;
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    padding: 3.5% 18%;
    justify-content: center;
}
.row{ /* Para evitar el desplazamiento de las web */
    margin-right: 0;
    margin-left: 0;
}
#nombre{
    font-size: xx-large;
    color: white;
}
.titulo{
    font-size: large;
    font-style: oblique;
}
.main{
    padding-top: 2rem;
}
#irIngreso{
    color: #6735dc;
    font-weight: 600;
    border-color: #6735dc;
}
#irIngreso:hover{
    background-color: #502463;
    border-color: #502463;
}
#irIngreso:hover a{
    color: white;
}
#irIngreso a{
    color: black;
    text-decoration: none;
}
#imgPerfil{
    width: 150px;
    border: 3px solid #502463;
    background-color: #50246380;
    box-shadow: 0.3rem 0.3rem 5px #50246377;
}
.input-group-text{
    background-color: #502463;
    color: white;
    text-transform: uppercase;
}
.list-group-item{
    border: 0;
    color: black;
    background-color: transparent;
}

/* INFORMACIÓN */

.info{
    padding-top: 5rem;
    text-align: center;
}
.btnOpciones{
    margin: auto;
    align-items: center;
    text-align: center;
}

.scrollbar-dinamizathor::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
    
.scrollbar-dinamizathor::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-linear-gradient(330deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%);
    background-image: linear-gradient(120deg, #F0E52A 0%, #E1E1E1 50%, #717573 100%); 
}

@media screen and (max-width: 766px){
    .main{
        padding-top: 0rem;
    }
}