.cabecera, .bg{
    align-items: center;
    text-align: center;
    padding: 0.8rem;
}
.btn-simbolo{
    background-color: transparent;
    border-color: black;
}
.btn-simbolo a{
    color: black;
}
.btn-simbolo:hover{
    background-color: rgb(221, 221, 221);
}

/* MAIN */
.bg{
    background-image: url("../imagenes/bgPerfil.png")   ;
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador*/ 
    min-height:100%;
    min-width:100%;
    /* Desactivo scroll */
    background-attachment: fixed;
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    padding: 3.5% 18%;
    justify-content: center;
}
#pnombre{
    font-size: xx-large;
    color: white;
}
.titulo{
    font-size: large;
    font-style: oblique;
}
.main{
    padding-top: 2rem;
}
#imgPerfil{
    border: 3px solid #502463;
    background-color: #5024632c;
    box-shadow: 0.3rem 0.3rem 5px #50246377;

}

/* .nombre, .imgPerfil{
    text-align: end;
} */
.input-group-text{
    background-color: #502463;
    color: white;
    text-transform: uppercase;
}
.list-group-item{
    border: 0;
    color: black;
    background-color: transparent;
}

/* INFORMACIÓN */

.informacion{
    padding-top: 5rem;
    text-align: center;
}
.btnOpciones{
    margin: auto;
    align-items: center;
    text-align: center;
}