.ingreso{
    background-image: url("../imagenes/wall.png")   ;
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador*/ 
    min-height:100%;
    min-width:100%;
    /* Desactivo scroll */
    background-attachment: fixed;
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    padding: 6% 18%;
    justify-content: center;
}
.contenido{
    text-align: center;
    align-items: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.brand{
    margin-bottom: 10rem;
}
form{
    margin-bottom: 5%;
}
#email, #contrasena{
    text-decoration-color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.322);
    width: 60%;
}
.ribbon{
    width: 120px;
    height: 0px;
    border-bottom: 50px solid #d9534f;
    border-top: 50px solid #d9534f;
    border-right: 35px solid transparent;
}
.oval-half-red {
    text-align: center;
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
}

#olvido{
    color: #555;
    font-weight: bold;
}
.btn-outline-light{
    color: black;
    border-color: black;
}
.btn-outline-light:hover{
    color: black;
}
.btns{
    margin-top: 5rem;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff1E50D' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff1E50D' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li{
    background-color: #F0E52A;
}
.carousel-indicators .active{
    background-color: #555;
}
.modal-lg {
    max-width: 60%;
}


@media screen and (max-width: 766px){
    
    #olvido{
        color: #fff;
        font-weight: bold;
    }
    .btn-outline-light{
        color: white;
        border-color: white;
    }
    .btn-outline-light:hover{
        color: white;
    }
    .btns{
        margin-top: 5rem;
    }
    #fg{
        margin-top: 13rem;
        margin-bottom: 8rem!important;
    }
    .modal-lg {
        max-width: 100%;
    }
}