.ingreso{
    background-image: url("../imagenes/wall.png")   ;
    /* nos aseguramos que el elemento ocupe toda la ventana del navegador*/ 
    min-height:100%;
    min-width:100%;
    /* Desactivo scroll */
    background-attachment: fixed;
    /* Propiedad a utilizar para la imagen */
    background-size:cover;
    padding: 6% 18%;
    justify-content: center;
}
.contenido{
    text-align: center;
    align-items: center;
    text-align: -webkit-center;
    text-align: -moz-center;
}
.brand{
    margin-bottom: 10rem;
}
form{
    margin-bottom: 5%;
}
#email, #contrasena{
    text-decoration-color: black;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.322);
    width: 60%;
}
.ribbon{
    width: 120px;
    height: 0px;
    border-bottom: 50px solid #d9534f;
    border-top: 50px solid #d9534f;
    border-right: 35px solid transparent;
}
.oval-half-red {
    text-align: center;
    width: 250px;
    height: 100px;
    -moz-border-radius: 0 50% / 0 100%;
    -webkit-border-radius: 0 50% / 0 100%;
    border-radius: 0 50% / 0 100%;
    background: #5cb85c;
    border: 3px solid #555;
}
