*{
    font-family: 'Montserrat', sans-serif;
}
body{
    padding-top: 80px;
}



/*NAVEGACIÓN*/
#mainNav{
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: "";
}
#mainNav a{
    color: white;
}

.navbar-brand strong:hover, #navbarTogglerDemo02 ul li a:hover{
    color: #f6ff66;
}
.nav-item{
    font-size: small;
}


/*PRESENTACIÓN*/
.present{
    background-image: url(https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2041&q=80);
    width: 100%;
    color: white;
}
.threeD {
    text-shadow: 1px 3px 2px rgb(72, 29, 107), 1px 2px 5px rgb(0, 0, 0);
}
.frase{
    text-align: justify;
    margin-top: auto;
    margin-bottom: auto;
}



/*BENEFICIOS FUNCIONALIDADES Y CARACTERÍSTICAS*/
.beneficios,.caracts{
    background-color: rgb(190, 190, 190);
}

table td:first-child {
    width: 33.3%;
}
table td:nth-child(2) {
    width: 33.3%;
}
table td:nth-child(3) {
    width: 33.3%;
}
#cpurple{
    color: #540a64;
    text-align: center;
}
#cpurple2{
    color: #540a64;
}
#cwhite{
    color: white;
}


.funcionalidades{
    background:  black;
}

.areacaract{
    padding: 1rem 0;
    text-align: justify;
}
#texcenter p{
    align-self: center;
}



/*SOBRE NOSOTROS*/
.card{
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #f6ff66;
    box-shadow: 4px 4px 5px 3px #919741, 0 1px 2px rgba(0,0,0,0.24);
}
.card:hover{
    box-shadow: 12px 15px 5px 3px #919741, 0 1px 2px rgba(0,0,0,0.24);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.delay-1{
    animation-delay: 0.5s;
    position: relative;
    z-index: 5;
}
.delay-2{
    animation-delay: 1s;
    position: relative;
    z-index: 4;
}
.delay-3{
    animation-delay: 1.5s;
    position: relative;
    z-index: 4;
}



/*SUSCRIBIRSE*/
.suscribirse{
    background-image: url(https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
    padding: 1rem 0;
    
}
.sus{
    color: white;
    padding: 0 20%;
    
}
.box{
        backdrop-filter: blur(4.5px);  
        -webkit-backdrop-filter: blur(4.5px);
}


/*FOOTER*/
footer{
    padding: 1.5rem 0;
    color: rgb(100, 100, 100);
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.notext-decoration, a .notext-decoration, .notext-decoration p a{
    text-decoration: none;
}
.text-muted {
    color: #6c757d!important;
}
.copyright{
    float: right;
    font-size: x-small;
}
.pie{
    font-size: x-small;
}
#red{
    padding-right: 3rem;
    font-size: xx-large;
}
